<mat-form-field class="example-form-field">
  <mat-label>custom input</mat-label>
  <input
    matInput
    type="text"
    #input
    [formControl]="formControl"
    (input)="onChange(input.value)"
    (blur)="onTouched()"
  />
  <mat-error *ngIf="formControl && !formControl.valid">
    Should have a length of 4 or more.
  </mat-error>
</mat-form-field>
