<div
  [formGroup]="customInputFormGroup"
  *ngIf="customInputFormGroup !== undefined"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <h1>Custom input CVA</h1>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <app-custom-input formControlName="customInput"></app-custom-input>
    <button mat-raised-button color="primary" (click)="writeValue('12345')">
      writeValue
    </button>
  </div>

  <h1>Angular material input CVA</h1>
  <app-mat-custom-input formControlName="matCustomInput"></app-mat-custom-input>

  <h1>Angular composite input with predefined values</h1>
  <div fxLayout="row" fxFlexAlign="center">
    <app-mat-composite-cva
      formControlName="filledCompositeAddress"
    ></app-mat-composite-cva>
  </div>

  <h1>Angular composite input with default values</h1>
  <div fxLayout="row" fxFlexAlign="center">
    <app-mat-composite-cva
      formControlName="emptyCompositeAddress"
    ></app-mat-composite-cva>
  </div>

  <h1>Angular composite input with required bus</h1>
  <div fxLayout="row" fxFlexAlign="center">
    <app-mat-composite-cva
      [isBusRequired]="true"
      formControlName="busRequiredCompositeAddress"
    ></app-mat-composite-cva>
  </div>

  <h1>Angular composite input with different layout</h1>
  <div fxLayout="row" fxFlexAlign="center">
    <app-mat-composite-different-layout-cva
      formControlName="layoutCompositeAddress"
    ></app-mat-composite-different-layout-cva>
  </div>
</div>
