<div [formGroup]="addressFormGroup">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field fxFlex="30">
      <mat-label> zipCode </mat-label>
      <input
        matInput
        formControlName="zipCode"
        (blur)="onTouched()"
      />
      <mat-error *ngIf="addressFormGroup.controls.zipCode.errors?.required">
        zipcode is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="60">
      <mat-label> city </mat-label>
      <input
        matInput
        formControlName="city"
        (blur)="onTouched()"
      />
      <mat-error *ngIf="addressFormGroup.controls.city.errors?.required">
        City is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field fxFlex="60">
      <mat-label> street </mat-label>
      <input
        matInput
        formControlName="street"
        (blur)="onTouched()"
      />
      <mat-error *ngIf="addressFormGroup.controls.street.errors?.required">
        Street is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="15">
      <mat-label> House nr. </mat-label>
      <input
        matInput
        formControlName="houseNumber"
        (blur)="onTouched()"
      />
      <mat-error *ngIf="addressFormGroup.controls.houseNumber.errors?.required">
        HouseNumber is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="15">
      <mat-label> Bus </mat-label>
      <input
        matInput
        formControlName="bus"
        (blur)="onTouched()"
      />
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex="60">
      <mat-label> Country </mat-label>
      <input
        matInput
        formControlName="country"
        (blur)="onTouched()"
      />
      <mat-error *ngIf="addressFormGroup.controls.country.errors?.required">
        country is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
</div>
