<input
  type="text"
  #input
  (input)="onChange(input.value)"
  (blur)="onTouched()"
  [disabled]="disabled"
/>
<div class="error" *ngIf="controlDir && !controlDir.control.valid"><small>Length should be 4 or more.</small></div>
